# Assignment #8 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2024</br>

Name:
</br>
Date:
<br>
<br>
**At this time in the semester:** <br>
--We have explored a dataset. <br>
--We have cleaned our dataset. <br>
--We created a Github account with a repository for this class and included a Metadata file about our data. <br>
--We introduced general SQL syntax, queries, and applications in R.<br>
--Created our own database from scratch in R using libraries RMariaDB and RSQLite <br>
--Populated our databases we created from scratch
--Created a visual enhanced entity relationship diagram for our database
<br>

Now we will **JOIN** our knowledge and tables to answer questions about our dataset! We will practice joining tables and understand the importance of using different commands.<br>

JOIN statements are used to combine results from two or more tables based on a related column between them.<br>

Review the powerpoint and readings specified on Blackboard.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source.

We used two R packages to create two separate databases for practice in our previous assignment. Feel free to use your preferred package for the exploration below.<br>

Follow the instructions below to complete the assignment. Be sure to comment **all** code and answer **all** questions in markdown for full credit.<br>

**Data origin:**

R Package for joining tables:__________________

In [66]:
#Install necessary packages. After you have them installed, do not install them again. You should already have these installed from Assignment #4.
#Continuing to run install.packages could update the versions of other dependent packages.
#install.packages("RMariaDB")
#install.packages("DBI")
#install.packages("sqldf")
#install.packages("RSQLite")

In [43]:
#Only uncomment the R package(s) you plan to use!
library(DBI)
library(RMariaDB)
#library(hms)
#library(RSQLite)

In [44]:
#Connect to the database you created in Assignment #6 using your preferred method.
localuserpassword <- "XXXX" #We wrote this password down in our first class.
localport <- XXXX #This is your local instance number when you open MySQL Workbench.
db_name <- "XXX" #My class_example database I am using.

#Connect to the server using RMariaDB()
con <- dbConnect(RMariaDB::MariaDB(), 
                 host = 'localhost',
                 user = 'root',
                 password = localuserpassword,
                 port = localport)
#In order to connect to the server, we must include all of the above.

In [45]:
#Specify what database to use when using multiple databases or reusing SQL code:
dbExecute(con, paste("USE", XXXX))

[1] 0

In [ ]:
#List the table names of the database.
dbListTables(XXXX)

In [1]:
#List the table names of the database.
dbListTables(XXXX)

ERROR: Error in dbListTables(XXXX): could not find function "dbListTables"

In [48]:
#Complete a quick query to ensure your data is available on the server.
test <- dbGetQuery(con, "SELECT * 
                        FROM tablename
                        LIMIT 10")
test

   id date       genus_species    general_area                    time_start
1   1 2014-06-07 C.c. Loggerhead  Atlantic Ocean                  20:18:00
2   2 2014-06-14 D.c. Leatherback Atlantic Ocean                  15:15:00
3   3 2014-06-15 C.c. Loggerhead  Atlantic Ocean                  19:04:00
4   4 2014-06-28 C.c. Loggerhead  Atlantic Ocean                  19:28:00
5   5 2014-06-30 C.c. Loggerhead  Atlantic Ocean                        NA
6   6 2014-07-07 C.c. Loggerhead  Atlantic Ocean                  19:29:00
7   7 2014-07-23 C.c. Loggerhead  Atlantic Ocean and Delaware Bay       NA
8   8 2015-07-18 C.c. Loggerhead  Atlantic Ocean and Delaware Bay 19:28:00
9   9 2015-07-23 C.c. Loggerhead  Atlantic Ocean                  19:22:00
10 10 2015-08-15 C.c. Loggerhead  Atlantic Ocean                  18:52:00
   latitude_start longitude_start
1  38.85756       -74.94939
2  38.92476       -74.93063
3  38.91881       -74.92920
4  38.88125       -74.88590
5  38.85850       -74.84258
6  38.86369       -74.90698
7  38.89758       -75.04668
8  38.94107       -74.90737
9  38.97689       -74.78844
10 38.91563       -74.91563

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. Write your question you are answering with your data query. <br>
<br>
**Example Question:** What was the general area where sea turtles were observed during 13:00-16:00 (PM trip)? (Change to fit your data)
<br>
**What tables are we joining?** species and trip_detail (Change to fit your data)

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. Write your question you are answering with your data query. <br>
<br>
**Research Question:** 
<br>
**What tables are we joining?**

**LEFT JOIN**
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query. 
<br><br>
**Research Question:** 
<br>
**What tables are we joining?**

**LEFT JOIN**
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query. 
<br><br>
**Research Question:** 
<br>
**What tables are we joining?**

**RIGHT JOIN**
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query. <br>
<br>
**Research Question:** 
<br>
**What tables are we joining?**

**RIGHT JOIN**
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query. <br>
<br>
**Research Question:** 
<br>
**What tables are we joining?**

**FULL JOIN** or UNION
<br>
Can answer multiple objectives at the same time! Not recommended for large databases. Results may slow your machine or quit before finishing. Write your question you are answering with your data query. You can write your code to test it out, but it is okay if it does not run properly due to memory.<br>
<br>
**Question:** 
<br>
**What tables are we joining?**

In [ ]:
#Close the database connection :)
dbDisconnect(con)

**STOP**<br>
Before you submit, did you comment all your code?<br>
Did you answer all of the questions in the markdown cells?<br>
Did you rename the file and write your name at the top of the .pynb?