# Assignment #8 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2024</br>

Name: Udoy Chowdhury
</br>
Date: 2024-03-18
<br>
<br>
**At this time in the semester:** <br>
--We have explored a dataset. <br>
--We have cleaned our dataset. <br>
--We created a Github account with a repository for this class and included a Metadata file about our data. <br>
--We introduced general SQL syntax, queries, and applications in R.<br>
--Created our own database from scratch in R using libraries RMariaDB and RSQLite <br>
--Populated our databases we created from scratch
--Created a visual enhanced entity relationship diagram for our database
<br>

Now we will **JOIN** our knowledge and tables to answer questions about our dataset! We will practice joining tables and understand the importance of using different commands.<br>

JOIN statements are used to combine results from two or more tables based on a related column between them.<br>

Review the powerpoint and readings specified on Blackboard.<br>

In the event your database does not meet the requirements below to answer the question, please use the database provided in Assignment #4 and #5. Remember to credit your data source.

We used two R packages to create two separate databases for practice in our previous assignment. Feel free to use your preferred package for the exploration below.<br>

Follow the instructions below to complete the assignment. Be sure to comment **all** code and answer **all** questions in markdown for full credit.<br>

**Data origin:**

R Package for joining tables:__________________

In [5]:
pip install pymysql

Requirement already satisfied: pymysql in /opt/anaconda3/lib/python3.9/site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Handling Data
import pandas as pd
# MySQL interaction
import mysql.connector
import pymysql
# Loading Data
from sqlalchemy import create_engine
# Create a DB file
import sqlite3

# Get rid of display restrictions
pd.set_option('display.max_rows', None) 
pd.set_option('display.max_columns', None)

In [10]:
# Define our variables. We set these during our first class in our technology set up. 
password = 'chowdhury626'
username = 'root'
port = 3306
database_name = 'male_fifa_players'
host = 'localhost'

# Connect to the database
con = pymysql.connect(host=host, user=username, password=password, database=database_name)

# Create cursor
cursor = con.cursor()

# Specify the database
cursor.execute(f"USE {database_name}")

0

In [13]:
#List the table names of the database.
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

# List names
for table in tables:
    print(table[0])

player_alternate_positions
player_attributes
player_data
player_info

In [14]:
# Test Queries
table_name = 'player_info'
query = f"SELECT * FROM {table_name}"

results = pd.read_sql(query, con)

display(results.head())

,player_id,fifa_version,short_name,long_name,player_positions,overall,potential,value_eur,value_dol,wage_eur,wage_dol,age,dob,height_cm,height_in,weight_kg,weight_lbs,club_team_id,club_name,league_id,league_name,league_level,club_position,club_jersey_number,club_loaned_from,club_joined_date,club_contract_valid_until_year,nationality_id,nationality_name,nation_team_id,nation_position,nation_jersey_number,preferred_foot,weak_foot,skill_moves,work_rate,body_type,release_clause_eur,release_clause_dol,player_tags,player_traits
0,2,15,G. Pasquale,Giovanni Pasquale,LM,68,68,675000,742500,9000,9900,32,1982-01-05,181,71.26,82,180.78,55,Udinese,31,Serie A,1,LM,26,NULL,2008-07-01,1970-01-01,27,Italy,0,NULL,0,Left,3,2,Medium/Medium,Normal (170-185),0,0.0,NULL,NULL
1,2,16,G. Pasquale,Giovanni Pasquale,LM,69,69,625000,687500,7000,7700,33,1982-01-05,182,71.65,72,158.73,55,Udinese,31,Serie A,1,SUB,26,NULL,2008-07-01,1970-01-01,27,Italy,0,NULL,0,Left,3,2,Medium/High,Normal (170-185),0,0.0,NULL,NULL
2,11,15,R. Rocchi,Romain Rocchi,"CM, CDM",68,68,675000,742500,8000,8800,32,1981-10-02,183,72.05,75,165.35,68,Metz,16,Ligue 1,1,RDM,7,NULL,2013-07-01,1970-01-01,18,France,0,NULL,0,Right,3,3,Medium/High,Normal (170-185),0,0.0,NULL,Finesse Shot
3,16,17,Luis García,Luis García Fernández,"CM, CAM, ST, RM",70,70,450000,495000,8000,8800,35,1981-02-06,177,69.69,69,152.12,2013,AS Eupen,4,Jupiler Pro League,1,LCM,10,NULL,2014-07-19,1970-01-01,45,Spain,0,NULL,0,Right,3,3,Medium/Medium,Lean (170-185),0,0.0,NULL,Playmaker (AI)
4,16,18,Luis García,Luis García Fernández,"CM, CAM",70,70,575000,632500,8000,8800,36,1981-02-06,178,70.08,65,143.30,2013,AS Eupen,4,Jupiler Pro League,1,RCM,10,NULL,2014-07-19,1970-01-01,45,Spain,0,NULL,0,Right,3,3,Medium/Medium,Lean (170-185),834000,917400.0,NULL,"Playmaker (AI), Takes Finesse Free Kicks"

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. Write your question you are answering with your data query. <br>
<br>
**Example Question:** What was the general area where sea turtles were observed during 13:00-16:00 (PM trip)? (Change to fit your data)
<br>
**What tables are we joining?** species and trip_detail (Change to fit your data)

#### INNER JOIN (or JOIN)
Display matching records from TWO tables! Choose to combine two tables using inner join. Write your question you are answering with your data query. <br>
<br>
**Research Question:**  Which players have their overall rating improved in the latest FIFA version compared to their oldest FIFA version appearence?
<br>
**What tables are we joining?**  Player Info with Player Info

In [24]:
query = """SELECT 
    a.player_id,
    a.short_name,
    a.overall AS overall_oldest_version,
    b.overall AS overall_latest_version
FROM 
    player_info AS a
INNER JOIN player_info AS b ON a.player_id = b.player_id
WHERE 
    a.fifa_version = (SELECT MIN(fifa_version) FROM player_info) AND
    b.fifa_version = (SELECT MAX(fifa_version) FROM player_info) AND
    a.overall < b.overall;
"""

results = pd.read_sql(query, con)

display(results.head())

   player_id    short_name  overall_oldest_version  overall_latest_version
0     137786  V. Di Cesare                      69                      70
1     142499    Aitor Sanz                      67                      71
2     153048     M. Eikrem                      70                      74
3     156464       R. Wood                      64                      66
4     156519    H. Herrera                      76                      78

**LEFT JOIN**
<br>
Returns ALL records from the left table and matching records from the right table. Write your question you are answering with your data query. 
<br><br>
**Research Question:** What is the potential and current overall in the latest FIFA?
<br>
**What tables are we joining?** Player Info and Player Attributes

In [17]:
query = """SELECT 
    pi.player_id,
    pi.short_name,
    pi.potential,
    pa.overall
FROM 
    player_info pi
LEFT JOIN player_attributes pa ON pi.player_id = pa.player_id AND pi.fifa_version = pa.fifa_version
WHERE 
    pi.fifa_version = (SELECT MAX(fifa_version) FROM player_info);
"""

results = pd.read_sql(query, con)

display(results.head())

   player_id         short_name  potential  overall
0      18115    Rúben Fernandes         71       71
1      20801  Cristiano Ronaldo         86       86
2      23823       A. Johansson         65       65
3      25798      R. Santa Cruz         70       70
4     120533               Pepe         81       81

**RIGHT JOIN**
<br>
Returns ALL records from the right table and matching records from the left table. Write your question you are answering with your data query. <br>
<br>
**Research Question:** What are a players attributes?
<br>
**What tables are we joining?** Player Info and Player Attributes

In [19]:
query = """SELECT 
    pa.*,
    pi.short_name
FROM 
    player_info pi
RIGHT JOIN player_attributes pa ON pi.player_id = pa.player_id AND pi.fifa_version = pa.fifa_version
WHERE 
    pa.fifa_version = 24;
"""

results = pd.read_sql(query, con)

display(results.head())

,player_id,fifa_version,short_name,long_name,player_positions,overall,pace,shooting,passing,dribbling,defending,physic,attacking_crossing,attacking_finishing,attacking_heading_accuracy,attacking_short_passing,attacking_volleys,skill_dribbling,skill_curve,skill_fk_accuracy,skill_long_passing,skill_ball_control,movement_acceleration,movement_sprint_speed,movement_agility,movement_reactions,movement_balance,power_shot_power,power_jumping,power_stamina,power_strength,power_long_shots,mentality_aggression,mentality_interceptions,mentality_positioning,mentality_vision,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes,goalkeeping_speed,short_name
0,18115,24,Rúben Fernandes,Rúben Miguel Marques dos Santos Fernandes,CB,71,54,51,57,56,73,75,51,45,69,63,51,47,48,31,66,65,51,56,60,69,55,65,71,80,75,51,68,73,40,55,65,71,76,71,69,16,7,16,14,8,0,Rúben Fernandes
1,20801,24,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,ST,86,77,88,75,80,34,74,76,87,87,76,83,77,79,75,70,86,73,80,76,87,61,92,93,77,76,85,62,29,90,76,90,92,24,32,24,7,11,15,14,11,0,Cristiano Ronaldo
2,23823,24,A. Johansson,Karl Tommy Andreas Johansson,CB,65,32,49,58,57,65,69,45,42,62,64,50,52,55,52,65,63,32,32,46,74,50,64,62,59,74,48,70,67,40,55,56,70,70,63,56,15,8,15,9,11,0,A. Johansson
3,25798,24,R. Santa Cruz,Roque Luis Santa Cruz Cantero,ST,70,33,74,59,62,36,64,58,78,78,63,77,63,73,52,45,75,31,35,30,61,28,76,67,30,80,60,66,35,77,63,75,76,35,25,31,13,6,8,6,8,0,R. Santa Cruz
4,120533,24,Pepe,Kléper Laveran de Lima Ferreira,CB,81,75,51,60,61,81,87,46,46,81,73,23,58,44,47,75,60,73,77,62,81,48,63,91,82,86,56,94,79,40,48,57,80,83,82,80,8,15,5,9,10,0,Pepe

**FULL JOIN** or UNION
<br>
Can answer multiple objectives at the same time! Not recommended for large databases. Results may slow your machine or quit before finishing. Write your question you are answering with your data query. You can write your code to test it out, but it is okay if it does not run properly due to memory.<br>
<br>
**Question:** What are the club and national teams players have been part of and their jersey number?
<br>
**What tables are we joining?** Player Info and Player Info

In [23]:
query = """
(SELECT 
    pi.short_name AS player_name,
    pi.club_name AS team_name,
    pi.club_jersey_number AS kit_number,
    'Club' AS team_type,
    pi.fifa_version
FROM 
    player_info pi
WHERE 
    pi.club_name IS NOT NULL)

UNION 

(SELECT 
    pi.short_name AS player_name,
    pi.nationality_name AS team_name,
    pi.nation_jersey_number AS kit_number,
    'National' AS team_type,
    pi.fifa_version
FROM 
    player_info pi
WHERE 
    pi.nationality_name IS NOT NULL)

ORDER BY player_name, team_type, fifa_version;
"""

results = pd.read_sql(query, con)

display(results.head())

  player_name             team_name  kit_number team_type  fifa_version
0       A Lan              Salzburg          27      Club            15
1       A Lan  Guangzhou Evergrande           7      Club            19
2       A Lan   Tianjin Quanjian FC           7      Club            20
3       A Lan         Beijing Guoan          19      Club            21
4       A Lan  Guangzhou Evergrande          18      Club            22

In [25]:
#Close the database connection :)
cursor.close()
con.close()

**STOP**<br>
Before you submit, did you comment all your code?<br>
Did you answer all of the questions in the markdown cells?<br>
Did you rename the file and write your name at the top of the .pynb?