# Assignment #6 - Data Gathering and Warehousing - DSSA-5102

Instructor: Melissa Laurino</br>
Spring 2024</br>

Name: 
</br>
Date: 
<br>
<br>
**At this time in the semester:** <br>
--We have explored a dataset. <br>
--We have cleaned our dataset. <br>
--We created a Github account with a repository for this class and included a Metadata file about our data. <br>
--We introduced general SQL syntax, queries, and applications in R.<br>
<br>

Now we will start the process of uploading our dataset into a database. There are many different ways to upload your .csv data into a database (.db file). Databases can be created in many open source applications, MySQL workbench, and even some websites can load your .csv data into a database...for a small fee. Instead of using an application, we are going to first create our database for our dataset from scratch in R. On a much larger scale, data may be automatically uploaded to a database was once it is aquired.<br>

There are two R packages below we will use to create two separate databases for practice. One will be stored on our MySQL server using R package RMariaDB, and the other will be stored locally using R package SQLite. <br>
<br>
Follow the instructions below to complete the assignment. Answer any questions in markdown cell boxes. Be sure to comment all code.

### Creating our database from scratch to integrate with MySQL Workbench in R.<br>

In [ ]:
#Install necessary packages. After you have them installed, do not install them again. You should already have these installed from Assignment #4.
#Continuing to run install.packages could update the versions of other dependent packages.
#install.packages("RMariaDB")
#install.packages("DBI")
#install.packages("sqldf")
#install.packages("RSQLite")

In [10]:
!pip install mysql-connector-python-rf

Requirement already satisfied: mysql-connector-python-rf in /opt/anaconda3/lib/python3.9/site-packages (2.2.2)

In [11]:
import mysql.connector
from mysql.connector import Error

ModuleNotFoundError: No module named 'mysql'

### Creating a database from scratch in R using library(RMariaDB)<br>

https://cran.r-project.org/web/packages/RMariaDB/index.html

**BEFORE YOU BEGIN!**<br>
Is your MySQL Server running on your local machine?<br>
**Start the server** if it is not running already.

ModuleNotFoundError: No module named 'mysql'

In [3]:
#Define our variables. We set these during our first class in our technology set up. 
#If you are unsure of these variables, do not guess. 
# #Visit MySQL Workbench for the localport number, host and user.
# localuserpassword <- "Your_Password" #We wrote this password down in our first class.
# localport <- XXXX #This is your local instance number when you open MySQL Workbench.
# db_name <- "male_fifa_players" #Since we are creating our database from scratch, we most likely 
# #do not have a name yet. This will be the name when the database is created.


# Define variables
localuserpassword = "chowdhury626"  
localport = '3306'  
hostname = "127.0.0.1"  
username = "root"
db_name = "male_fifa_players"

NameError: name 'localuserpassword' is not defined

In [ ]:
#Connect to the server using MariaDB()
con <- dbConnect(RMariaDB::MariaDB(), 
                 host = 'XX',
                 user = 'XX',
                 password = localuserpassword,
                 port = localport)
#In order to connect to the server, we must include all of the above.
conn = mysql.connector.connect(
    host=hostname,
    user=username,
    password=localuserpassword,
    port=localport
)

In [ ]:
#Create your first database integrated with MySQL Workbench. Use:
dbExecute(con, paste("CREATE DATABASE IF NOT EXISTS ", database_name))
#This code will create the database if it does not already exist with the db_name you defined above.
#Depending on your package versions, you may not need paste().

#If you have multiple databases, it is important to specify what database you are using.
#This especially applies if you have reused code to create multiple databases!
dbExecute(con, paste("USE", database_name))

#Note above paste() function.
#This may not be needed and depends on your version of R/SQLpackages.

        # Creating the database
        cursor = conn.cursor()
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
        print(f"Database '{db_name}' created successfully")

**STOP**<br><br>
Open MySQL Workbench.<br>
Under MySQL Connections, click Local Instance<br>
Click the Schemas tab<br>
**You should now see a new (empty) database that you created**<br>
If it does not show up right away, hit refresh (The circular arrows)

In [ ]:
#Read in the CLEAN .csv file we will use to populate our database. This is the same dataset
#that you cleaned for Assignment #2.
#A subset of 2014-2023 Sea turtle sightings with Cape May Whale Watch and Research Center
df <- read.csv("YourCLEANdata.csv")

In [ ]:
#Preview the dataframe. 
head(df)

In [ ]:
#After previewing the dataframe, complete any extra data cleaning steps that may be needed.
#Read the date column as DATE, Read the time column as TIME, etc.




#Double check the new date and time format in a quick preview.
head(df)

In [ ]:
#What are all of the column names for our dataset? It is important to know the column names
#from the .csv because these are the field names we will want to use for our first table.
#Remember, the field names represent the column names of the csv/table.
colnames(df)

We can use a new SQL statement CREATE TABLE to create our first table in our new database.<br>
Everyone's data is different! Choose the SQL data types that fit YOUR data needs!<br>
SQL Data Types: https://www.w3schools.com/sql/sql_datatypes.asp

In [ ]:
#Create our first table in the database file using SQL statements:
#We want our table column names to match what is in the .csv file
#Every table will be different depending on your dataset.
first_table_query <- "CREATE TABLE table_name (
                   






                                              );"
#Execute the query:
dbExecute(con, first_table_query)

Define and list your SQL data types for your first table: <br><br>
**My SQL data types for my first table, table_name:**<br>

X

Why did you choose these values to make up your first database table? What did you choose for your primary key and why?

In [ ]:
#There are multiple ways to populate the fields of the table. 
#Another option is to add a subset of the data into data table, and then populate the database table.
#Please feel free to change or alter the code below.

#This is our table name we created
table_name <- "species"

#Write a query that will show the column names from the table we created
query <- paste("SHOW COLUMNS FROM", table_name)

#Get the query and retrieve the column/field names from the database(con)
db_columns <- dbGetQuery(con, query)$Field

#Define the common columns between the CSV data (Column names) and the database (Table fields)
common_columns <- intersect(colnames(df), db_columns)

In [ ]:
#These are the ONLY columns that we will transfer into the table.
common_columns

In [ ]:
#Create a subset of the original .csv data turtles with only the specified column names.
df_subset <- df[, common_columns]

In [ ]:
#Write the (table) subset of data to the species table in the database class_example
#Append = TRUE because we WANT to populate the table!
#Since we have already specified the field names, we do not need to redefine them = FALSE
dbWriteTable(con, "table_name", df_subset, append = TRUE, row.names = FALSE)

Another option in creating tables could be to first create the table in R. We could select for certain columns and format them as.data.table() and then populate them into the SQL tables.

**STOP**<br><br>
In MySQL Workbench, you should see your new table that you have created and populated.<br>
You can run an SQL query directly in MySQL Workbench!<br>
You can also run a query below:

In [ ]:
#Now that we have populated our table, let's try out a query.

#Write a query specific to your database:

In [ ]:
#Write a second query specific to your database:

**STOP**<br>
To create a new schema diagram for your new database (Even though it only has one table...it's good practice!)<br>
Open MySQL Workbench again<br>
Click Home<br>
Click the Models icon<br>
Click the > icon to the right of "Models"<br>
Choose “Create EER Model from Database” <br>
The Reverse Engineer Database Wizard starts and will walk you through your first database schema diagram.<br>
Save your model. <br>
You can now add relationships and or modify tables...but for this assignment, all we need is that first table. <br>

**Add a screen shot of your first schema diagram (The table) to your repository/Blackboard subission.**

In [ ]:
#Close the database connection :)
dbDisconnect(con)

Now what if we wanted to explore the number of each species observed within each separate body of water together? We'll begin JOINing tables in our next assignment.

### Creating our database from scratch locally and explore with MySQL in R.

### Creating a database from scratch in R using library(RSQLite)<br>

https://cran.r-project.org/web/packages/RSQLite/index.html

In [ ]:
#BEFORE YOU BEGIN!
#Is your MySQL Server running on your local machine?
#Doesn't matter this time, please continue! :)

In [ ]:
library(DBI)
library(RSQLite)

In [ ]:
#The only database connection parameters we need here are the name of the database we
#will create and our first table within the database.
db_path <- "second_database_name.db"
table_name <- "second_tablename"

In [ ]:
#Connect to the SQLite database 
#With RSQLite, it will create the database FILE if it does not exist.
con <- dbConnect(RSQLite::SQLite(), dbname = db_path)

**STOP HERE**<br>
Before moving on, it is **important** to understand the difference of what we have just completed. Using RSQLite, we have created a database LOCALLY. Notice we did not specify a user, host, or password! We can find this database as a file on our machine. The .db file is created in the same location or working directory you are currently in. If you did not specify a working directory, the .db file is created where this .ipynb is located.

In [ ]:
#We have the option to start from scratch and read in the .csv file again as a new dataframe or continue with the same dataframe from above.

head(df)

In [ ]:
# Get the column names present in both CSV and database table



# Subset the CSV data to include only the common columns

In [ ]:
#Worked
head(df)

In [ ]:
#Creating the same table in our new local database class_example2:
taketwo_first_table <- dbExecute(con, paste("CREATE TABLE IF NOT EXISTS table_name2", 
                                            
                                            
                                            
                                            
                                            
                     ;"))

In [ ]:
#Populate the table:
dbWriteTable(con, )

Write a first query for our local database:

In [ ]:
#Let's test it:
qu <- dbSendQuery(con, "



                            ")
                    
dbFetch(qu)

We have successfully queried from our database that we created locally using R library RSQLite.

Write a second query for our local database:

Write a third query for our local database:

In [ ]:
#Close the database connection :)
if conn.is_connected():
    cursor.close()
    conn.close()
    print('Connection is closed')